.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  max-width: 280px;
  margin: 1rem auto;
  font-family: system-ui, sans-serif;
  justify-content: center;
}

.day {
  aspect-ratio: 1 / 1;
  display: flex;
  height: 70px;
  width: 70px;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 0.9rem;
  transition: background 0.2s, transform 0.1s;
}

.day:hover {
  background: #eaeaea;
  transform: scale(1.05);
}

/* Weekends */
.weekend {
  background: #fbe9e7;
  color: #b71c1c;
  font-weight: 500;
}

/* Booked dates */
.booked {
  background: rgb(218, 89, 89);
  border-color: #7b4002;
  color: black;
  font-weight: 500;
}

.booked:hover {
  background: #d6caa5;
}
